@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  /*color mode */
  --primary-color: #333333;
  --secondary-color: #666;
  --dark-color: black;
  --light-color: #f3f3f3;
  --more-dark-color: #1c1c1c;

  /* fonts */
  --title-font-size: 1rem;
  --subtitle-font-size: 0.9rem;
  --title-footer: 0.9rem;
  --text-footer: 0.725rem;
  --font-size: 0.7rem;
  --button-font-size: 0.6rem;
  --text-color: #f1f1f1;
  --body-font-color: #6c757d;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 80px;
}

h3 {
  font-size: var(--title-footer);
}

h5 {
  color: var(--text-color);
}

/* p {
  color: var(--body-font-color);
} */

.title__section h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 0;
  font-weight: 900;
  position: relative;
}

.title__section h1::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 250px;
  background-color: var(--more-dark-color);
  bottom: 0;
}

.subtitle__section {
  position: relative;
}

.subtitle__section h4:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 150px;
  background-color: var(--more-dark-color);
  bottom: 0;
}

.button {
  margin-bottom: 25px;
  padding: 5px 20px 6px;
  background-color: var(--secondary-color);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  color: var(--light-color);
}

.button:hover {
  color: var(--primary-color);
}

a {
  font-weight: 500;
}

img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE */
}

/*Aqui começa o header*/

header {
  width: 100%;
  position: fixed;
  z-index: 2;

  box-shadow: 0px 0px 10px #312f30;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu .nav-item {
  position: relative;
}

.menu .nav-item .nav-link::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--secondary-color);
  position: absolute;
  left: 0;
  bottom: -0.75rem;
  transition: width 0.2s;
}

.menu .nav-item .nav-link:hover::after,
.menu .nav-item .nav-link .active::after {
  width: 100%;
}

/*Aqui começa o CSS do Modal*/

.checkbox_musica {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Aqui começa o CSS do banner*/
.banner {
  height: 100vh;
  background-image: url("../img/Banner_Bjork.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner_description {
  position: absolute;
  bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner p {
  width: 80%;
  font-style: normal;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: var(--light-color);
  background-color: var(--dark-color);
  padding: 10px;
}

/*Aqui começa os cards*/

.cards {
  display: flex;
  padding: 35px;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  flex-grow: 3;
}

.card {
  box-shadow: 1px 3px 8px #f3f3f3;
}

.card:hover {
  transform: scale(1.01);
}

.card-title {
  color: var(--more-dark-color);
  font-weight: 600;
}

.card-text {
  color: var(--more-dark-color);
}

/* Aqui começa o CSS do footer*/
footer {
  width: 100%;
  padding: 30px 40px;
  margin-top: 15px;
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--light-color);
  font-size: var(--text-footer);
}

.container .team {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.icon_sociais {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 18px;
}

.responsavel {
  text-align: center;
}

.team a img {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
}

.team a:hover img {
  transform: scale(1.2);
}

.icon__seta a img:hover {
  transform: translateY(-8px);
}

.icon__seta {
  position: absolute;
  right: 16px;
  bottom: 26px;
}

.icon__seta img {
  width: 60%;
  transition: 0.3s;
}

@media screen and (max-width: 425px) {
  .checkbox_musica {
    flex-direction: column;
  }

  .button {
    margin-bottom: 5px;
    padding: 10px 20px 11px;
    width: 50%;
    text-align: center;
  }

  .menu {
    flex-direction: column;
  }

  .navbar-collapse {
    text-align: center;
  }

  .menu .nav-item .nav-link::after {
    bottom: -0.3rem;
  }

  .banner_description {
    position: absolute;
    bottom: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner h1 {
    width: 90%;
    padding: 10px;
    font-size: 1.6rem;
  }

  .banner p {
    line-height: 1.6;
    font-size: 1rem;
  }

  footer {
    justify-content: left;
    align-items: left;
    align-items: flex-start;
  }

  .team,
  .icon_sociais a {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .icon_sociais {
    padding: 18px 0;
  }

  .responsavel {
    text-align: left;
  }

  .icon__seta {
    bottom: 30px;
    right: 15px;
  }
  .icon__seta img {
    width: 80%;
  }
}
