@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  /*color mode */
  --primary-color: #333333;
  --secondary-color: #666;
  --dark-color: black;
  --light-color: #f3f3f3;
  --more-dark-color: #1c1c1c;

  /* fonts */
  --title-font-size: 1rem;
  --subtitle-font-size: 0.9rem;
  --title-footer: 0.9rem;
  --text-footer: 0.725rem;
  --font-size: 0.7rem;
  --button-font-size: 0.6rem;
  --text-color: #f1f1f1;
  --body-font-color: #6c757d;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 80px;
}

h3 {
  font-size: var(--title-footer);
}

h5 {
  color: var(--text-color);
}

p {
  color: var(--body-font-color);
}

.title__section h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 0;
  font-weight: 900;
  position: relative;
}

.title__section h1::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 250px;
  background-color: var(--more-dark-color);
  bottom: 0;
}

.button {
  margin-bottom: 25px;
  padding: 5px 20px 6px;
  background-color: var(--secondary-color);
  text-decoration: none;
  border-radius: 5px;
  color: var(--light-color);
}

.button:hover {
  color: var(--primary-color);
}

a {
  font-weight: 500;
}

/*Aqui começa o header*/

header {
  width: 100%;
  min-height: 79px;

  padding: 10px 40px;
  background-color: var(--light-color);
  color: var(--primary-color);
  position: fixed;
  z-index: 2;
  box-shadow: 0px 0px 10px #312f30;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__itens {
  display: flex;
  justify-content: center;
}

.menu__itens ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.menu__itens li a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--primary-color);
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--more-dark-color);
  position: absolute;
  left: 0;
  bottom: -1rem;
  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

/* Aqui começa o CSS do banner*/

.banner {
  height: 100vh;
  background-image: url("../img/Banner_Bjork.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner_description {
  position: absolute;
  bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner h1 {
  width: 20%;
  background-color: var(--dark-color);
  font-weight: 700;
  font-size: var(--title-font-size);
  text-align: center;
  padding: 10px;
  color: var(--text-color);
  align-items: center;
}

.banner p {
  width: 50%;
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size);
  font-weight: 500;
  text-align: center;
  color: var(--light-color);
  background-color: var(--dark-color);
  padding: 10px;
}

/*Aqui começa os cards*/

.cards {
  display: flex;
  padding: 35px;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  box-shadow: 1px 3px 8px #f3f3f3;
}

.card:hover {
  transform: scale(1.01);
}

.card-title {
  color: var(--more-dark-color);
  font-weight: 600;
}

.card-text {
  color: var(--more-dark-color);
}

/* Aqui começa o CSS do footer*/
footer {
  width: 100%;
  padding: 30px 40px;
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--light-color);
  font-size: var(--text-footer);
}

.team {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.team .team__center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team .team__rigth {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.team a img {
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.team a:hover img {
  transform: translateY(-8px);
}

.icon__seta a img:hover {
  transform: translateY(-8px);
}

.icon__seta {
  position: absolute;
  right: 0;
  bottom: 6px;
}

.icon__seta img {
  width: 60%;
  transition: 0.3s;
}

@media screen and (max-width: 425px) {
  .button {
    margin-bottom: 5px;
    padding: 10px 20px 11px;
    width: 50%;
    text-align: center;
  }

  .banner_description {
    position: absolute;
    bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner h1 {
    width: 90%;
    padding: 10px;
    font-size: 2rem;
  }

  .banner p {
    line-height: 1.6;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  footer {
    align-items: flex-start;
  }

  .team {
    flex-direction: column;
  }

  .team .team__rigth {
    align-items: flex-start;
  }

  .team h3 {
    margin-top: 10px;
  }

  .icon__seta {
    bottom: 30px;
    right: 15px;
  }
  .icon__seta img {
    width: 80%;
  }
}
